body {
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    height: 50px;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    

}

.logo {
    background: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    
}

.logo img {
    height: 50px;
    
    border-radius: 8px;
}

.logo-img {
    mix-blend-mode: multiply;
    object-fit: cover;
}

.menu {
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    color: black;
}

a:hover {
    text-decoration: underline rgb(213, 149, 28);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    font-family: sans-serif;
}

form {

    display: flex;
    flex-direction: column;
    padding: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 300px;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2 ease;
}

input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

input:focus {
    border: 1px solid;
    border-color: orange;
}

input[type="submit"] {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: orange;
    margin-bottom: 15px;
    transition: background-color 0.15s ease;
}

input[type="submit"]:hover {
    background-color: #e68900;

}

.checkbox-group,
.checkbox-group label {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: auto;
    margin: 0;
    margin-right: 4px;
    accent-color: #ff9800;
}