p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  /*height: 3000px;*/
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  z-index: 1000;
  align-items: center;
  background-color: white;
}

.left-section {
  background-color: lightblue;
  width: 200px;
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-left: 35px;
}

.middle-section {
  flex: 3;
  background-color: lightgreen;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  flex: 1;
  width: 0;
  height: 35px;
  padding-left: 10px;
}

.search-button {
  height: 40px;
  width: 66px;
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.right-section {
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightcoral;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: gray;
}

.content {
  margin-top: 50px;
  background-color: lightgray;
  margin-left: 200px;
  min-height: 100vh;
}

.shop-now {
  height: 500px;
  background-color: wheat;
  margin-bottom: 20px;

}

.featured-product-section {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.featured-product {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  background-color: beige;
  padding: 10px;

}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;

}

.product-column {
  padding: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}